.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 100%;
    background-color: #faafbe;
}

#countdown{
    font-size: 34px;
}

.board {
    width: 160px;
    margin: 20px;
}

.board label input {
    color: #fff;
    font-size: 22px;
    background-color: #faafbe;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.board p {
    padding: 10px;
    color: #fff;
    font-size: 22px;
}