@media screen and (max-width:420px){
    .setPage_content {
        width: 340px;
    }

    .setPage label {
        font-size: 20px;
    }

    .setPage label input {
        width: 40px;
        font-size: 20px;
    }

    .setPage label [type=button] {
        height: 60px;
    }
}